header {
  height: 520px;
  background-color:#F79327;
  width:100%;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/asfalt-light.png");
}

.header-image{
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name {
  display: flex;
  justify-content: center;
  align-items:center;  
}

